<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484776318204-822vnane169b1a4u82qt604vk32nocj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484776318204-822vnane169b1a4u82qt604vk32nocj7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>484776318204-1kklapmcto0ufur24a35t5886g13isu2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5RESnTwW_auZGiFDtiZpGjsPAHHhu1As</string>
	<key>GCM_SENDER_ID</key>
	<string>484776318204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.superBbva</string>
	<key>PROJECT_ID</key>
	<string>super-app-fdbdd</string>
	<key>STORAGE_BUCKET</key>
	<string>super-app-fdbdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484776318204:ios:b9b97d05ed5f3409bc7379</string>
</dict>
</plist>